[submodule "frontend"]
	path = frontend
	url = git@github.com:hfreshnel/FullStack-Project-React.git
[submodule "android"]
	path = android
	url = git@github.com:hfreshnel/quizAndroid.git
[submodule "backend"]
	path = backend
	url = git@github.com:hfreshnel/Spring-Project.git
